@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "PixelOperator";
  line-height: 1.5;
  font-weight: 400;

  width: 100%;

  color-scheme: light dark;
  color: #475569;

  background-color: #f9f9f9;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-start: start;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-start: start;

  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
}

.swiper-button-prev {
  background-image: url("../src/assets/prev.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev:hover {
  scale: 1.2;
  fill: #f9f9f9;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next{
  background-image: url("../src/assets/next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next:hover {
  scale: 1.2;
  fill: #f9f9f9;
}

.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet {
    background-color: #f9f9f9;
}