@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "PixelOperator"
  line-height: 1.5;
  font-weight: 400;

  width: 100%;

  color-scheme: light dark;
  color: #475569;

  background-color: #F9F9F9;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-start: start;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-start: start;

  height: 100vh;
  width: 100%;
  background-color:#F9F9F9;
}
